@charset "UTF-8";
.header {
  width: 1152px;
  height: 50px;
  margin: 25px auto;
  overflow: hidden;
  font-family: "微软雅黑";
}

.header > div {
  float: left;
}

.header img {
  height: 48px;
  width: 48px;
  background-color: #f75d17;
}

.header .header-text {
  margin-left: 22px;
  margin-top: -2px;
}

.header .header-text h1 {
  color: #333;
  font-size: 30px;
  line-height: 30px;
}

.header .header-text p {
  font-size: 10px;
  color: #858585;
  margin-top: 6px;
}

.mainWarp {
  width: 100%;
  background-color: #e7ffff;
}

.mainWarp .main {
  width: 1152px;
  margin: 0 auto;
  background: url("../image/login1.png") no-repeat center;
  padding-top: 1px;
}

.mainWarp .main:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.mainWarp .main .box {
  height: 556px;
  width: 346px;
  padding: 0 32px;
  background-color: #fff;
  margin-left: 733px;
  margin-top: 32px;
}

.mainWarp .main .box .choose-login {
  margin-top: 6px;
  line-height: 74px;
  font-size: 22px;
  color: #737373;
  width: 348px;
  text-align: center;
  position: relative;
}

.mainWarp .main .box .choose-login span {
  display: inline-block;
  width: 170px;
  cursor: pointer;
}

.mainWarp .main .box .choose-login span:hover {
  color: #f75d17;
}

.mainWarp .main .box .choose-login .user-login::after {
  content: '';
  position: absolute;
  height: 30px;
  width: 2px;
  background-color: #e0e0e0;
  top: 22px;
  left: 173px;
}

.mainWarp .main .box .current {
  color: #f75d17;
}

.mainWarp .main .box .user-message {
  font-size: 12px;
  color: #969696;
  text-align: center;
  position: relative;
}

.mainWarp .main .box .user-message .replaceOld .user, .mainWarp .main .box .user-message .replaceOld .passW {
  height: 48px;
  width: 332px;
  border: 1px solid #e0e0e0;
  margin-bottom: 14px;
  padding-left: 14px;
  color: #969696;
}

.mainWarp .main .box .user-message .replaceOld .passW {
  margin-bottom: 12px;
}

.mainWarp .main .box .user-message .replaceNew .user2, .mainWarp .main .box .user-message .replaceNew .passW2 {
  float: left;
  height: 48px;
  width: 332px;
  border: 1px solid #e0e0e0;
  margin-bottom: 14px;
  padding-left: 14px;
  color: #969696;
}

.mainWarp .main .box .user-message .replaceNew .user2 i, .mainWarp .main .box .user-message .replaceNew .passW2 i {
  float: left;
  height: 50px;
  width: 58px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #333;
  border: 1px solid #e0e0e0;
}

.mainWarp .main .box .user-message .replaceNew p:nth-child(1) {
  width: 400px;
  overflow: hidden;
}

.mainWarp .main .box .user-message .replaceNew p:nth-child(1) .user2 {
  width: 272px;
  height: 48px;
  border-left: 1px solid #fff;
}

.mainWarp .main .box .user-message .replaceNew p:nth-child(1) i {
  float: left;
  height: 50px;
  width: 58px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #333;
  border: 1px solid #e0e0e0;
}

.mainWarp .main .box .user-message .replaceNew p:nth-child(2) {
  width: 400px;
  overflow: hidden;
}

.mainWarp .main .box .user-message .replaceNew p:nth-child(2) .passW2 {
  width: 221px;
  height: 48px;
  border-right: 1px solid #fff;
}

.mainWarp .main .box .user-message .replaceNew p:nth-child(2) a {
  float: left;
  height: 50px;
  width: 108px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #333;
  border: 1px solid #e0e0e0;
}

.mainWarp .main .box .user-message .replaceNew .passW2 {
  margin-bottom: 12px;
}

.mainWarp .main .box .user-message .redTip {
  display: none;
  text-align: left;
  height: 20px;
  color: #ff6700;
}

.mainWarp .main .box .user-message .redTip span {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background-color: #ff6700;
  border-radius: 50%;
  margin-right: 4px;
}

.mainWarp .main .box .user-message .login {
  margin-top: 12px;
  height: 50px;
  width: 348px;
  background-color: #ff6700;
  color: #fff;
  cursor: pointer;
  border: 1px solid #ff6700;
}

.mainWarp .main .box .user-message .login-method {
  color: #ff6700;
  line-height: 40px;
}

.mainWarp .main .box .user-message .register, .mainWarp .main .box .user-message .forget {
  line-height: 30px;
  color: #999999;
}

.mainWarp .main .box .user-message .register:hover, .mainWarp .main .box .user-message .forget:hover {
  color: #ff6700;
}

.mainWarp .main .box .user-message .other {
  margin-top: 145px;
  color: #bbbbbb;
}

.mainWarp .main .box .user-message .other::after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 132px;
  top: -6px;
  left: 214px;
  background-color: #e0e0e0;
}

.mainWarp .main .box .user-message .other::before {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 132px;
  top: 10px;
  left: 0;
  background-color: #e0e0e0;
}

.mainWarp .main .box .user-message img {
  width: 30px;
  height: 30px;
  margin: 16px 16px 0 0;
}

.mainWarp .main .box .Ma-message {
  text-align: center;
  display: none;
}

.mainWarp .main .box .Ma-message img {
  height: 180px;
  width: 180px;
  margin: 120px 0 15px 0;
}

.mainWarp .main .box .Ma-message p {
  line-height: 18px;
  color: #757575;
}

.mainWarp .main .box .Ma-message p span {
  color: #f75d17;
}

.footerWrap {
  margin: 0 auto;
  width: 1152px;
  font-size: 12px;
  color: #757575;
  margin-top: 84px;
  text-align: center;
}

.footerWrap span {
  line-height: 54px;
  cursor: pointer;
}

.footerWrap span:hover {
  color: #333;
}

.footerWrap p {
  margin-bottom: 20px;
}

.footerWrap .spacer {
  margin: 0 12px;
}
