html,body {
    height: 100%;
    width: 100%;
}
// <!-- 粘性定位标题 （cookie数据）-->
.stickyBoxWrap {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.1); 
    position: sticky;
    z-index: 4;
    top: 0;
    .stickyBox {
        width: 1226px;
        height: 63px;
        background-color: #ffffff;
        margin: 0 auto;
        overflow: hidden;
        line-height: 63px;
        .sb-lfet {
            font-size: 17px;
            float: left;
        }
        .sb-right {
            color: #333;
            font-size: 13px;
            float: right;
        }
    }
}

// <!-- 产品详情内容 -->
.detail {
    width: 1226px;
    margin: 32px auto;
    overflow: hidden;
}
// <!-- 左侧轮播图 -->
.detail-l {
    width: 560px;
    position: relative;
    float: left;
    .detailShow {
        width: 560px;
        height: 560px;
        img {
            position: absolute;
            width: 560px;
            height: 560px;
            opacity: 0.2;
        }
        img:nth-child(1) {
            z-index: 2;
            opacity: 1;
        }
    }
     // <!-- 翻页按钮 -->
     .turnL,.turnR {
        position: absolute;
        z-index: 3;
        width: 34px;
        height: 72px;
        font: 32px/72px "宋体";
        color: #dcdcdc;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        top: 50%;
        margin-top: -36px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
    .turnL {
        left: 0;
    }
    .turnR {
        right: 0;
    }
    // <!-- 翻页圆点 -->
    .dot {
        position: absolute;
        z-index: 3;
        bottom: 20px;
        width: 560px;
        text-align: center;
        span {
            display: inline-block;
            width: 50px;
            height: 3px;
            background-color: #d6d6d6;
            margin: 2px;
            cursor: pointer;
            &:hover {
                background-color: #a3a3a3;
            }
        }
        span:nth-child(1){
            background-color: #a3a3a3;
        }
    }
}

// <!-- 右侧信息详情 -->
.detail-r {
    width: 600px;
    padding-left: 66px;
    font-size: 13px;
    float:  right;
    // <!-- 渲染标题 -->
    h1 {
        line-height: 35px;
        img {
            width: 50px;
            height: 24px;
            margin-top: -8px;
        }
    }
    .detail-tip {
        line-height: 24px;
        color: #b0b0b0;
        & span:nth-child(1) {
            color: #ff6700;
            margin-right: 6px;
        }
    }
    .xm {
        color: #ff6700;
        margin-top: 10px;
    }
    .allprice {
        line-height: 34px;
        .detail-price {
            font-size: 18px;
            color: #ff6700;
        }
        .detail-delete {
            color: #b0b0b0;
            margin-left: 8px;
        }
    }
    hr {
        margin: 15px 0 20px 0;
        border-top: 1px solid #e0e0e0;
    }
    // <!-- 地址 -->
    .address {
        width: 518px;
        height: 42px;
        padding: 30px 30px 30px 50px;
        line-height: 20px;
        border: 1px solid #e0e0e0;
        background-color: #fafafa;
        margin-bottom: 10px;
        position: relative;
        img {
            position: absolute;
            left: 23px;
        }
        span {
            color: #ff6700;
            cursor: pointer;
        }
        .address-stock {
            color: #ff6700;
        }
    }
    // <!-- 款式选择 -->
    h2 {
        font-size: 18px;
        line-height: 48px;
    }
    .style-choose {
        width: 600px;
        &>ul {
            overflow: hidden;
            width: 620px;
           li {
               float: left;
                width: 292px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                margin: 0 12px 10px 0;
                color: #b0b0b0;
                border: 1px solid #b0b0b0;
                cursor: pointer;
                &:hover {
                    color: #ff6700;
                    border: 1px solid #ff6700;
                }
            }
            // li:nth-child(1) {
            //     color: #ff6700;
            //     border: 1px solid #ff6700;
            // }
        }
    }
    // <!-- 结算 -->
    .detail-check {
        width: 540px;
        height: 84px;
        margin-top: 20px;
        padding: 30px;
        background-color: #f9f9fa;
        &>div {
            overflow: hidden;
            line-height: 34px;
            color: #616161;
            .checkL {
                float: left;
            }
            .checkR {
                float: right;
            }
        }
        &>p {
            line-height: 38px;
            font-size: 24px;
            margin-top: 18px;
            color: #ff6700;
        }
    }
    // <!-- 加入购物车 -->
    .addCart {
        line-height: 54px;
        font-size: 16px;
        margin-top: 20px;
        &>a:nth-child(1) {
            display: inline-block;
            width: 300px;
            height: 54px;
            background-color: #ff6700;
            color: #fff;
            margin-right: 9px;
            text-align: center;
            &:hover {
                background-color: #f25807;
            }
        }
        &>a:nth-child(2) {
            display: inline-block;
            width: 142px;
            height: 54px;
            background-color: #b0b0b0;
            color: #fff;
            text-align: center;
            &:hover {
                background-color: #757575;
            }
        }
    }
    // <!-- 条款申明 -->
    .state {
        margin-top: 18px;
        color: #b0b2b4;
        width: 600px;
        &>ul {
            overflow: hidden;
            width: 614px;
            li {
                float: left;
                line-height: 36px;
                margin-right: 16px;
            }
        }
    }
}

// <!-- 收货地址隐藏内容 -->
.mask {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    opacity: 0.2;
    .addressShow {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        width: 540px;
        height: 309px;
        padding: 42px;
        text-align: center;
        color: #b0b0b0;
        margin: -184px 0 0 -300px;
        &>input {
            width: 520px;
            height: 42px;
            border: 1px solid #e0e0e0;
            padding-left: 20px;
            color: #333;
        }
        p {
            line-height: 44px;
            text-align: right;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                color: #f75d17;
            }
        }
        .myAdress {
            line-height: 34px;
            text-align: left;
            font-size: 14px;
        }
        .loginNow {
            color: #333;
            margin-top: 20px;
            a {
                color: #f75d17;
            }
        }
        //点击关闭地址窗口
        .close {
            position: absolute;
            top: 12px;
            right: 8px;
            font-size: 16px;
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            width: 30px;
            border-radius: 50%;
            &:hover {
                background-color: #e53935;
                color: #fff;
            }
        }
    }
}